<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">
</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments::slider">
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>訂單詳情</h3>
                    </div>
                    <div class="mb-3">
                        <label for="username"> 訂購人信箱 </label>
                        <p th:text="${customer.username}" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="phone"> 訂購人電話 </label>
                        <p id="phone" th:text="${customer.phoneNumber}">
                    </div>
                    <div class="mb-3">
                        <label for="address"> 訂購人地址 </label>
                        <p th:text="${customer.address + ' ' + customer.city + ' ' + customer.country}" id="address">
                    </div>
                    <hr class="mb-4">
                    <hr class="mb-4">
                    <div class="title"><span>付款方式</span></div>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                   required>
                            <label class="custom-control-label" for="debit">現金付款</label>
                        </div>
                    </div>
                    <hr class="mb-1">
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="col-md-12 col-lg-12">
                    <div class="odr-box">
                        <div class="title-left">
                            <h3>商品詳情</h3>
                        </div>
                        <div class="rounded p-2 bg-light">
                            <div class="media mb-2 border-bottom" th:each="item : ${cart.cartItem}">
                                <div class="media-body"><a href="product-detail.html"
                                                           th:text="${item.product.name}"> </a>
                                    <div class="small text-muted">商品金額: $[[${item.product.costPrice}]] <span
                                            class="mx-2">|</span> 商品數量: [[${item.quantity}]] <span
                                            class="mx-2">|</span> 總共金額: $[[${cart.totalPrices}]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="order-box">
                        <div class="title-left">
                            <h2><b>付款金額</b></h2>
                        </div>
                        <div class="d-flex">
                            <div class="font-weight-bold">商品</div>
                            <div class="ml-auto font-weight-bold">金額</div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>金額合計</h4>
                            <div class="ml-auto font-weight-bold" th:text="${ '$' + cart.totalPrices}"></div>
                        </div>
<!--                        <div class="d-flex">-->
<!--                            <h4>Discount</h4>-->
<!--                            <div class="ml-auto font-weight-bold"> $0</div>-->
<!--                        </div>-->
<!--                        <hr class="my-1">-->
<!--                        <div class="d-flex">-->
<!--                            <h4>Coupon Discount</h4>-->
<!--                            <div class="ml-auto font-weight-bold"> $9</div>-->
<!--                        </div>-->
                        <div class="d-flex">
                            <h4>運費</h4>
                            <div class="ml-auto font-weight-bold"> 免運費 </div>
                        </div>
<!--                        <div class="d-flex">-->
<!--                            <h4>Shipping Cost</h4>-->
<!--                            <div class="ml-auto font-weight-bold"> Free</div>-->
<!--                        </div>-->
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>總共金額</h5>
                            <div class="ml-auto h5" th:text=" '$' + ${cart.totalPrices}"></div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a th:href="@{/save-order}" class="ml-auto btn hvr-hover">送出訂單</a></div>
            </div>
        </div>
    </div>

</div>
</div>
<!-- End Cart -->

<!-- Start Feed  -->
<div th:replace="fragments::instagram-box">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>

<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>