<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments ::head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments::slider">
</div>
<!-- End All Title Box -->

<!-- Update Personal Information -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${success}" class="text-center alert-success alert">
                    <p th:text="${success}"></p>
                </div>
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="order-date">訂購日期</th>
                            <th>交貨日期</th>
                            <th class="price-pr">訂單狀態</th>
                            <th class="quantity-box">訂單總價</th>
                            <th class="total-pr">付款方式</th>
                            <th>其他動作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td class="order-date">
                                <span><b th:text="${order.orderDate}"></b></span>
                            </td>
                            <td class="name-pr" th:if = "${order.deliveryDate != null}">
                               <p th:text="${order.deliveryDate}"></p>
                            </td>
                            <td class="name-pr" th:if = "${order.deliveryDate == null}">
                                <p>請等待...</p>
                            </td>
                            <td class="price-pr">
                                <p th:text="${order.orderStatus}"></p>
                            </td>
                            <td class="total-pr">
                                <p style="color: red" th:text="${'$' + order.totalPrice}"></p>
                            </td>
                            <td class="total-pr" style="color: black">
                               <span>現金</span>
                            </td>
                            <td>
                                <a th:href="@{/cancel-order/(id = ${order.id})}" class="button-cancel">取消訂單</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments::footer"></footer>

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>